[2016-11-28 08:35] shtripat opened #3 "Enable travis for pep8 and coveralls"
Add run_travis.sh and enable pep8 and coveralls for the project

[2016-11-28 17:32] r0h4n commented on #3
Fixed: https://github.com/Tendrl/performance_monitoring/pull/4

[2016-11-28 17:32] #3 closed

[2016-11-29 08:09] r0h4n opened #5 "Travis job should check git commit message for github bug id and an optional tendrl spec name"
Moving on, all git commits should contain mandatory mention on newline of
"tendrl-bug-id: <tendrl_repo>/" and optional mention of "tendrl-spec: <tendrl_spec_name>" in the commit msg.

eg:
"""
Packaging python-etcd

Added Makefile and spec file to create python-etcd package
Now one can use "make rpm" to pull the latest source from github
and build the source rpm
and using the Makefile one can also

[2016-12-04 14:19] anmolbabu opened #7 "Provide rest apis to access time-series performance monitoring statistics"
- Add apis to enable access to time series performance monitoring statistics.
  - /monitoring/nodes/<node_name>/<resource_name>/stats
  - /monitoring/nodes/<node_name>/monitored_types
- The framework needs to be pluggable to support multiple time series databases.
- These apis will be proxied to by tendrl-api

tendrl-spec:: Tendrl/specifications#63

[2016-12-04 14:42] anmolbabu opened #8 "Add a flow to generate monitoring configuration files on tendrl managed nodes"
- Implement flow to generate collectd configuration files on tendrl managed nodes
  - Save default monitoring configuration to etcd which will be used to generate configurations on nodes.
  - Expose the system level default configurations for easy modification by end-user.

tendrl-spec: https://github.com/Tendrl/specifications/pull/20

[2016-12-06 10:56] anmolbabu opened #9 "Install monitoring pieces on the nodes as part of monitoring configuration flow"
Install monitoring pieces on the nodes as part of monitoring configuration flow

[2016-12-08 06:04] anmolbabu opened #10 "check_commit_msg.py displays a misleading error message"
The check_commit_msg.py complains that the commis message should be of the form :

'tendrl-bug-id:<tendrl_repo>/issue_id'

It should probably say :

tendrl-bug-id:Tendrl/<tendrl_repo_name>#<issue_id>

[2016-12-08 13:37] GowthamShanmugam opened #11 "Store configuration details in etcd"
Instead of writing configuration details in file, store everything in etcd

[2016-12-13 08:43] shtripat opened #13 "Re-factor performance monitoring code to extend/use common module"
The common module provides all the base classes for flows, atoms, manager, job queue handler, persister and contains all the utilities which are generic in nature like exceptions, command executor, service manager and package installer. The performance_monitoring modules should extend/use these common module changes.

[2016-12-13 09:16] r0h4n commented on #11
Any updates/commits/specs? Please link them here

[2016-12-13 09:53] GowthamShanmugam commented on #11
Specification: Tendrl/specifications#11

[2016-12-15 08:39] anmolbabu commented on #7
Spec issue is : https://github.com/Tendrl/specifications/issues/62

[2016-12-15 08:42] anmolbabu commented on #8
Spec Bug: https://github.com/Tendrl/specifications/issues/42

[2016-12-15 08:42] anmolbabu commented on #9
Spec Bug: Tendrl/specifications#42

[2016-12-15 11:31] r0h4n commented on #13
Any updates? Add spec issue here please

[2016-12-15 14:49] shtripat commented on #13
Linked to spec issue https://github.com/Tendrl/specifications/issues/31

Code changes can be done once initial project PR gets merged. Should be assigned to @anmolbabu

[2016-12-21 09:27] shtripat opened #14 "Collect pool utilization data and record into time series"
Use `ceph df` to gather the data and keep adding at regular interval to time series DB for trending purpose.
Also add a template to configure this plugin with thresholds etc.

[2016-12-26 03:10] anmolbabu opened #15 "Periodically store host level monitoring stats and host level alert counter in etcd"
The spec issue is: Tendrl/specifications#81

[2016-12-26 03:12] anmolbabu opened #16 "Expose the host level summary(monitoring stats + alert counter) maintained in etcd via api"
The spec issue is: https://github.com/Tendrl/specifications/pull/81

[2016-12-26 03:12] anmolbabu commented on #16
This has a dependency on https://github.com/Tendrl/performance_monitoring/issues/15

[2017-01-03 17:30] mbukatov opened #17 "[packaging] setup.py doesn't contain list of requirements"
It's not possible to properly install tendrl-performance-monitoring project via pip, because `setup.py` is not aware of required python modules.

## Full Example/Reproducer

Let's install the project via pip from source:

[code]

Note that `pip list` output doesn't contain any module listed in `requirements.txt` file:

[code]

[2017-01-03 18:25] mbukatov opened #18 "[packaging] move list of python project from requirements.txt into install_requires in setup.py"
This issue suggest to remove `requirements.txt` file and move items which this file contains into `install_requires` setuptools keyword in `setup.py` file.

## Reasoning

Based on [explanation of difference between `install_requires` keyword and `requirements.txt` file](https://packaging.python.org/requirements/#install-requires-vs-requirements-files) from upstream [Python Packaging User Guide](ht

[2017-01-05 11:34] r0h4n commented on #18
We are using "install_requires" in setup.py, Contents of the requirements.txt are automatically extracted and fed to "install_requires" [0], currently the performance_monitoring and alerting projects do not address that, @anmolbabu please refer to setup.py [0]

0 : https://github.com/Tendrl/node_agent/blob/master/setup.py#L25

[2017-01-06 09:13] mbukatov commented on #18
Based on agreement described in https://github.com/Tendrl/alerting/issues/18#issuecomment-270661999 (keep requirements.txt file), I'm closing this issue.

Btw: Issue with missing installation requirements in setup.py is tracked in https://github.com/Tendrl/performance_monitoring/issues/17

[2017-01-06 09:13] #18 closed

[2017-01-09 08:03] anmolbabu opened #26 "Add a collectd plugin to push collectd detected threshold breaches to node-agent socket"
spec-issue: https://github.com/Tendrl/specifications/issues/40

[2017-01-16 12:29] anmolbabu opened #29 "Add spec to performance monitoring repo"
* Installation details @ https://github.com/Tendrl/performance-monitoring/pull/2/files#diff-423eaed28c1d057218887cb6e5695734

* Requirements details @ https://github.com/Tendrl/performance-monitoring/pull/2/files#diff-b4ef698db8ca845e5845c4618278f29a

[2017-01-16 13:08] anmolbabu commented on #29
And performance monitoring and node monitoring need to be separate rpms

[2017-01-19 12:26] TimothyAsir opened #31 "Remove Flask-API extension usage"
Currently performance-monitoring is using flask api extension to get a server error code.
The source of this extension is not available in github or anywhere to build.
RPM package also not available in epel or any other repo.

[2017-02-06 11:08] TimothyAsirJeyasing opened #42 "Child process still exists after stopping the service"

[2017-02-10 09:57] anmolbabu opened #44 "Use urllib3 pool manager instead of creating new urllib2 connection object while syncing utilizations from graphite"

[2017-02-10 10:09] anmolbabu opened #45 "Find an better/efficient way to sync per node utilizations"
As in :
https://github.com/Tendrl/performance-monitoring/pull/41/files#diff-02701c14679314952d142d1e276cf1e7R190
currently per node a process is spawned to sync memory, cpu and storage utilizations of the node to etcd. Currently this happens once a minute currently and the processes do get cleaned up, and also considering that each of these per node process would only make 3 http get requests to g

[2017-02-11 06:35] anmolbabu opened #46 "It takes some time for the performance stats to be available in tendrl"
The reason for this is there's considerable latency in amount of time it takes to push the statistics from collectd to graphite which needs to be root caused and reduced. Normally it takes close to 20 mins after the collectd has been started on tendrl managed nodes after configuration by node-monitoring flows. And post this considering the sync interval of 10 mins by performance monitoring the tim

[2017-02-13 08:39] TimothyAsirJeyasing opened #47 "Split node-monitoring and performance-monitoring out into separate GitHub repositories"
splitting these out into separate GitHub repositories. The make snapshot parts of the CI system determine the version to use based on Git tags. In this case, the Git tags will be applied to both projects.

Also, as a practical example, GitHub will send webhooks for this entire repository any time either node-monitoring or performance-monitoring change, so both packages will be rebuilt, even though

[2017-02-14 07:24] TimothyAsirJeyasing opened #48 "Fix node-monitoring service start issue"
Node-monitoring service is not starting due to new changes which needs python-gevent.

[2017-02-15 09:32] anmolbabu opened #50 "Performance monitoring collectd configuration on newly managed nodes not working"
Performance monitoring collectd configuration on newly managed nodes not working
There is some problem in etcd watch which is not yielding on new additions to /nodes

[2017-02-27 13:18] dahorak opened #58 "tendrl-performance-monitoring not starting with pkg_resources.DistributionNotFound: urllib error"
With recent version of `tendrl-performance-monitoring` (`1.2-02_27_2017_14_36_18.noarch`) is not possible to start the `tendrl-performance-monitoring` service.
[code]

Output from `journalctl -xe`:
[code]
Versions of other Tendrl components:
[code]

[2017-02-27 13:19] dahorak commented on #58
It seems to be quite recent issue, because it works with version `tendrl-performance-monitoring-1.2-02_27_2017_03_02_02.noarch`.

[2017-02-27 13:45] dahorak commented on #58
Package `python-urllib3` is installed:
[code]

[2017-02-27 13:48] sankarshanmukhopadhyay commented on #58
@anmolbabu @shtripat  might want to check this one.

[2017-02-27 13:55] dahorak commented on #58
The problem seems to be with `requires.txt` file, because the version from package contain `urllib`:
[code]
while the version from this git contains correctly `urllib3` (https://github.com/Tendrl/performance-monitoring/blob/master/requirements.txt)

[2017-02-27 14:00] sankarshanmukhopadhyay commented on #58
adding @TimothyAsir to this.

[2017-02-27 14:35] mbukatov commented on #58
I believe that this issue is caused by hacks in `setup.py` which fetches content of requirements.txt into install_requires of setup.py. We should not do that and this issue is another evidence of maintenance burden such hacks create for us.

[2017-02-27 14:45] mbukatov commented on #58
Here is the evidence.

Let's generate sdist tarball on current master:

[code]

Then look for files with requirements there:

[code]

And finally, check it's content:

[code]

And as we can see, the issue is already there, caused by unnecessary hacks in
setup.py.

[2017-02-27 14:46] mbukatov commented on #58
I'm going to address this during my upcoming packaging pull requests by removing that hack from setup.py. Right now, I'm focusing on tendrl-commons.

[2017-02-28 10:56] sankarshanmukhopadhyay commented on #58
Since the fix is merged, I'd request the reporter to check the builds, when available and update this issue.

[2017-02-28 14:36] dahorak commented on #58
Tested with version `tendrl-performance-monitoring-1.2-02_28_2017_13_18_20.noarch`.
The `requires.txt` file correctly contains `urllib3`:
[code]
And it is possible to start `tendrl-performance-monitoring` service:
[code]

[2017-02-28 14:36] #58 closed

[2017-03-01 04:49] nthomas-redhat commented on #50
This is working per the latest build

[2017-03-01 04:49] #50 closed

[2017-03-01 04:51] nthomas-redhat commented on #45
@anmolbabu please close this issue if fixed

[2017-03-01 04:53] #44 closed

[2017-03-01 04:53] #45 closed

[2017-03-01 04:55] nthomas-redhat commented on #48
This issue is resolved

[2017-03-01 04:55] #48 closed

[2017-03-01 04:56] nthomas-redhat commented on #31
This issue is resolved

[2017-03-01 04:56] #31 closed

[2017-03-01 04:56] #29 closed

[2017-03-01 04:57] #26 closed

[2017-03-01 04:59] #10 closed

[2017-03-01 05:00] #8 closed

[2017-03-01 05:00] #7 closed

[2017-03-01 05:04] #16 closed

[2017-03-01 06:33] anmolbabu commented on #15
This issue is partially fixed as in stats are available while the alert counter calculation needs to be implemented

[2017-03-03 17:27] mbukatov opened #61 "configuration of setuptools, tox and travis should be fixed"
There are multiple issues with current setuptools, tox and travis configuration, see https://github.com/Tendrl/alerting/issues/24 and https://github.com/Tendrl/commons/issues/173 for full list.

## Expected state

Running tox in the root directory of the project, executes all unit tests and other checks, assuming I have all dev packages installed, both on Fedora/CentOS and Debian/Ubuntu. This woul

[2017-03-06 05:54] shtripat commented on #13
@anmolbabu status on this?

[2017-03-06 06:04] anmolbabu commented on #13
@shtripat This can be closed but I have no permissions to do the same...

[2017-03-06 14:04] ltrilety opened #64 "Connection pool is full, discarding connection"
There's a lot of `/usr/lib/python2.7/site-packages/urllib3/connectionpool.py - connectionpool.py:272 -            _put_conn() - WARNING - Connection pool is full, discarding connection` lines in `tendrl-performance-monitoring` log. Probably because of that some statistics are missing in graphite.

Used packages:
tendrl-api-doc-1.2.1-03_06_2017_01_51_02.noarch
tendrl-performance-monitoring-1.2.1-03

[2017-03-06 14:06] ltrilety commented on #64
![graphite GUI](https://cloud.githubusercontent.com/assets/22369834/23613141/78c482a4-027e-11e7-8a88-2394162fc9a0.png)

[2017-03-06 14:12] anmolbabu commented on #64
@ltrilety This is not the cause for this issue. The stats are pushed to graphite by collectd and performance-monitoring has no role in this. However, performance-monitoring does sync stats from graphite to etcd which is used for stats in GetNodeList api response. It is during this that, the pool full warning appears. However, the urllib3 makes reattempts the requests that could not be made due to

[2017-03-06 14:32] ltrilety commented on #64
@anmolbabu ok, thanks for clearing that to me, in that case please look at following screenshot
![hosts_na](https://cloud.githubusercontent.com/assets/22369834/23613985/bf44477a-0281-11e7-989b-a5c8b8182978.png)

I had some performance statistics first but later they disappeared and were replaced with NA. No `stats` for any node in `GetNodeList` response. They were there before.

[2017-03-06 14:57] anmolbabu commented on #64
@ltrilety Please attach /var/log/tendrl/performance-monitoring/performance-monitoring_errors.log and /var/log/tendrl/performance-monitoring/performance-monitoring_info.log also the response of http://<ip/hostname_of_machine_where_performance_monitoring_installed>:5000/monitoring/nodes/summary

[2017-03-06 14:59] anmolbabu commented on #64
@ltrilety also please provide me the outputs of ps -aux|grep tendrl-performance-monitoring

[2017-03-06 17:00] ltrilety commented on #64
`/var/log/tendrl/performance-monitoring/performance-monitoring_errors.log`: empty

`/var/log/tendrl/performance-monitoring/performance-monitoring_info.log`:
[performance-monitoring_info.tar.gz](https://github.com/Tendrl/performance-monitoring/files/821857/performance-monitoring_info.tar.gz)

`http://ltrilety-usm1-server.usmqe.lab.eng.brq.redhat.com:5000/monitoring/nodes/summary`:
[code]

[2017-03-06 17:04] anmolbabu commented on #64
Looking at response from performance-monitoring API I see no issues @ performance-monitoring end. Please check if GetNodeList API returns response correctly now. If not @anivargi might be able to help.

[2017-03-06 17:05] ltrilety commented on #64
Response on `GetNodeList`. There was 'stats' area with performance data for any node, but now that area is missing.
[code]

[2017-03-07 05:55] anmolbabu commented on #64
@anivargi can you please have a look at this

[2017-03-08 10:17] mkudlej opened #66 "wrong port parameter"
There is wrong type of port parameter for Etcd client in performance monitoring service.

[code]

[2017-03-09 13:13] ltrilety opened #68 "graphite not running"
Graphite fails to start.

Used packages:
tendrl-api-httpd-1.2.1-03_09_2017_01_51_04.noarch
tendrl-api-doc-1.2.1-03_09_2017_01_51_04.noarch
tendrl-commons-1.2.1-03_09_2017_05_04_44.noarch
tendrl-api-1.2.1-03_09_2017_01_51_04.noarch
tendrl-dashboard-1.2.1-03_09_2017_04_11_03.noarch
tendrl-performance-monitoring-1.2.1-03_09_2017_03_02_03.noarch

error from tendrl-performance-monitoring log:
[code]

[2017-03-09 13:34] nthomas-redhat commented on #68
@ltrilety check the firewalld/iptables and selinux
Hope you are following https://github.com/Tendrl/documentation/wiki/Tendrl-Package-Installation-Reference

[2017-03-09 17:05] ltrilety commented on #68
@nthomas-redhat firewall.service was not present and iptables was flushed.
[code]
selinux set to permissive.
[code]
And yes, we follow that instructions.

[2017-03-10 03:50] anmolbabu commented on #68
@ltrilety Please verify if you are able to access the graphite ui using http://{performance-monitoring-host_ip/fqdn}:10080 manually also please provide me the contents of /etc/httpd/conf.d/graphite-web.conf and please provide the outputs of service carbon-cache status -l and service httpd status -l ..

[2017-03-10 03:53] anmolbabu commented on #68
@ltrilety If you are able to manually access graphite ui from the url in previous comment, please confirm that firewalld is stopped on even the nodes and also selinux is set to permissive on all the nodes... And provide me the status of service collectd status -l of the ndoes.

[2017-03-10 09:14] ltrilety commented on #68
@anmolbabu I am not able to access graphite using the URL, that was the first place where I noticed that something is wrong. Sorry I should mentioned that in my first comment.
[code]
[code]
[code]

BTW firewall is stopped and selinux set to permissive on all nodes.
collectd status from one of the nodes
[code]
FYI collectd can be started. Then following lines can be found in its log
[code]

Not sur

[2017-03-11 11:25] anmolbabu commented on #68
@ltrilety So, there was a PR that gave structure to jobs which warranted all the integrations like the monitoring and sds-integrations to follow the new job structure and a PR https://github.com/Tendrl/performance-monitoring/pull/60 was for some reason closed. So this is an issue which caused collectd not to be configured and subbsequently started.

But regarding the graphite not starting, please

[2017-03-13 08:15] ltrilety opened #70 "tendrl-node-monitoring error"
tendrl-node-monitoring is running but there are following errors in its log:
[code]

Used packages:
tendrl-node-monitoring-1.2.1-03_13_2017_00_37_03.noarch
tendrl-gluster-integration-1.2.1-03_13_2017_04_38_02.noarch
tendrl-commons-1.2.1-03_13_2017_04_42_03.noarch
tendrl-node-agent-1.2.1-03_13_2017_00_01_04.noarch

[2017-03-13 08:17] ltrilety commented on #68
The problem was on my side. `httpd` service was not restarted after graphite has been set.
For the `tendrl-node-monitoring` a new issue was created https://github.com/Tendrl/performance-monitoring/issues/70.

[2017-03-13 08:17] #68 closed

[2017-03-13 12:59] mbukatov commented on #61
The pull request with the fix has been merged, closing.

[2017-03-13 12:59] #61 closed

[2017-03-13 17:17] mbukatov commented on #17
Fixed by https://github.com/Tendrl/performance-monitoring/pull/62

[2017-03-13 17:17] #17 closed

[2017-03-17 08:48] fbalak opened #72 "tendrl-node-monitoring and tendrl-performance-monitoring services fail"
`tendrl-node-monitoring` and `tendrl-performance-monitoring` services are not running and can not be started. This problem occurs on ceph and gluster nodes.

Tested with:
tendrl-node-agent-1.2.1-03_17_2017_04_34_14.noarch
tendrl-commons-1.2.1-03_17_2017_04_50_23.noarch
tendrl-node-monitoring-1.2.1-03_17_2017_00_37_03.noarch
tendrl-api-1.2.1-03_17_2017_01_51_02.noarch
tendrl-performance-monitoring-

[2017-03-17 08:52] ltrilety commented on #70
In new packages it fails to run https://github.com/Tendrl/performance-monitoring/issues/72

[2017-03-17 09:11] anmolbabu commented on #72
@fbalak Yes there was a change recently in commons which required https://github.com/Tendrl/alerting/pull/41 and https://github.com/Tendrl/performance-monitoring/pull/71 These PRs are not yet merged..

[2017-03-17 22:16] r0h4n opened #73 "yaml content should not be inlined in python source files"
Original issue: Tendrl/commons#201

[2017-03-19 16:14] anmolbabu commented on #73
Fix in https://github.com/Tendrl/performance-monitoring/pull/71/files#diff-ba8f61f615f9da72ab3bc45d61434e0cL2
which is part of https://github.com/Tendrl/performance-monitoring/pull/71/

[2017-03-20 04:02] anmolbabu commented on #15
The alert counter will be made available with https://github.com/Tendrl/performance-monitoring/pull/63/ and https://github.com/Tendrl/alerting/pull/39

[2017-03-20 04:05] anmolbabu commented on #70
@ltrilety  Yes there was a change recently in commons which required #71 These PRs are not yet merged..Even the latest performance-monitoring would not work now...Moreover, the failure attached is likely to be more with latest commons and hence requires #71 ...

[2017-03-20 11:04] GowthamShanmugam commented on #11
this issue is solved, i am closing this

[2017-03-20 11:04] #11 closed

[2017-03-20 11:12] anmolbabu commented on #42
@r0h4n @nthomas-redhat can you please close this. Its no more relevant

[2017-03-20 11:13] anmolbabu commented on #13
@r0h4n @nthomas-redhat This can be closed as it is done....

[2017-03-20 11:14] anmolbabu commented on #5
@r0h4n @nthomas-redhat Please close this Its pr is merged

[2017-03-21 10:00] #13 closed

[2017-03-21 10:00] #5 closed

[2017-03-21 10:00] #42 closed

[2017-03-23 03:03] anmolbabu commented on #73
@r0h4n @nthomas-redhat Please close this issue as it is fixed as part of #71

[2017-03-23 08:36] sankarshanmukhopadhyay commented on #66
https://github.com/Tendrl/usmqe-tests/wiki states there is a PR (proposed patch) for this? Could we have that reviewed, merged and move forward from here?

[2017-03-23 09:36] anmolbabu commented on #66
@sankarshanmukhopadhyay It is fixed and merged

[2017-03-23 13:01] mkudlej commented on #66
This seems to be fixed in
[code]

[2017-03-23 13:01] #66 closed

[2017-03-23 14:05] mkudlej commented on #72
It seems that monitoring service works with:
[code]

[2017-03-23 14:06] fbalak commented on #72
ok --> closing

[2017-03-23 14:06] #72 closed

[2017-03-24 04:11] #73 closed

[2017-03-24 04:15] nthomas-redhat commented on #15
@anmolbabu , is there a fix for this issue?

[2017-03-24 04:16] nthomas-redhat commented on #9
@anmolbabu I think this is already implemented. Can you confirm?

[2017-03-24 04:40] anmolbabu commented on #9
@nthomas-redhat No installation is not done only configuration is there....

[2017-03-24 04:40] anmolbabu commented on #15
@nthomas-redhat Yes this is implemented I'll close it

[2017-03-24 04:40] #15 closed

[2017-03-24 04:55] anmolbabu commented on #14
@shtripat Can you please close this issue as this is already implemented in develop branch

[2017-03-24 07:00] #14 closed

[2017-03-24 07:50] anmolbabu commented on #70
@ltrilety The PR to fix this has been merged and should be available in latest rpms

[2017-03-24 10:02] #70 closed

[2017-03-24 10:03] ltrilety commented on #70
Looks fine, `tendrl-node-monitoring` is running and there seems to be no errors.

[2017-04-04 07:11] r0h4n opened #93 "Build rpms in copr for branch "release/$nvr""
Tendrl rpms are built for master and develop branch on copr.

We need Tendrl rpms to be built for release branches too eg: "release/1.2.2"

The rpm nvr should not contain datetime, it should only contain the nvr as given in spec file at branch "release/$version"

[2017-04-04 12:21] japplewhite opened #95 "error on RPM update"
performed a yum update today and got this:
(35/38): tendrl-performance-monitoring-1.2.1-04_04_2017_12_41_58.noarch.rpm                                                            |  79 kB  00:00:00
/usr/src/kernels/3.10.0-514.6.2.el7.x86_64/include/config/auto.conf: read error=======================                      ] 3.7 MB/s |  47 MB  00:00:08 ETA
(tried to read 6588 bytes from offset 131112)

[2017-04-04 13:24] dahorak opened #96 "node-monitoring consumes huge amount of resources"
Recent versions of `tendrl-node-monitoring` _constantly_ consumes huge amount of resources (CPU).

Please see also https://github.com/Tendrl/node-agent/issues/369.

I've checked it via following command:
[code]

This apply on the following versions of tendrl packages:
[code]

[2017-04-04 13:31] dahorak commented on #96
I spotted it on VMs with 2 CPUs and 2GB RAM.

[2017-04-05 07:18] ltrilety commented on #64
`stats` are back and graphite seems to have full collection available.

Checked on:
tendrl-api-doc-1.2.1-04_05_2017_01_51_04.noarch
tendrl-commons-1.2.2-04_05_2017_04_42_03.noarch
tendrl-dashboard-1.2.1-04_05_2017_11_03_12.noarch
tendrl-performance-monitoring-1.2.1-04_05_2017_11_26_14.noarch
tendrl-api-1.2.1-04_05_2017_01_51_04.noarch
tendrl-api-httpd-1.2.1-04_05_2017_01_51_04.noarch
tendrl-node-a

[2017-04-05 07:18] #64 closed

[2017-04-06 09:31] fbalak opened #103 "Missing statistics in graphite"
There are some statistics missing in graphite and in output of performance-monitoring. `tendrl-performance-monitoring` and `tendrl-node-monitoring` are running with no errors found in journalctl logs.

![graphite_bug](https://cloud.githubusercontent.com/assets/22369801/24747194/d9da1ab8-1abb-11e7-82c8-31438f24d6e6.png)

`GET http://hostname:5000/monitoring/nodes/summary`
[code]

Tested with:
graph

[2017-04-06 09:32] fbalak commented on #103
Seems to be a same issue as: https://github.com/Tendrl/performance-monitoring/issues/64

[2017-04-06 09:59] anmolbabu commented on #103
@fbalak It is the issue same as https://github.com/Tendrl/performance-monitoring/issues/46

In the screenshot attached, I see only 3 nodes for which stats are available and accordingly I see only 3 nodes in the api response attached. The issue is for some reason the interval from collectd configuration and collectd start to the time when the stats start landing into graphite is a bit high and henc

[2017-04-06 14:04] fbalak commented on #103
@anmolbabu ok, thanks for response. I am closing this.

[2017-04-06 14:04] #103 closed

[2017-04-10 13:02] ltrilety opened #104 "tendrl-performance/node-monitoring fails to start after reboot"
Sometimes when machine is rebooted `tendrl-node-monitoring` fails to start.

[code]

Used packages:
tendrl-commons-1.2.2-04_10_2017_04_42_05.noarch
tendrl-node-agent-1.2.2-04_10_2017_00_01_03.noarch
tendrl-node-monitoring-1.2.2-04_10_2017_16_13_14.noarch

[2017-04-11 05:12] anmolbabu commented on #104
@ltrilety Can you please confirm that the etcd is running and is accessible using the ip/hostname provided in node-monitoring.conf for etcd_connection.

[2017-04-11 06:00] ltrilety commented on #104
@anmolbabu well, it is accessible as restart of the service solve the issue, however when the service tried it first time the connection could be down. That could happen as I didn't fix order of machines to be rebooted and server was restarted too. However one of the machines where the `node`/`performance-monitoring` and `node-agent` failed was the server itself.

[2017-04-11 06:14] ltrilety commented on #104
@anmolbabu ok, my bad. So the issue is valid only for the server with `performance-monitoring` instead of `node-monitoring`. Hence I am changing the issue name properly.
The order of starting services is probably wrong because `node-agent` and `performance-monitoring` fail to start. The error message in logs is the same as for `node-monitoring` in Comment 1.

[2017-04-11 12:29] ltrilety commented on #104
@anmolbabu I was thinking about the issue and I don't feel it's a correct behavior to fail to start a service when some connection is missing. The service should start and tried regularly if the connection is available.
That said I tried a simple scenario. I shutdown tendrl server and tried to stop/start any tendrl service on any node. Surprisingly it seems to work as it should. Service was starte

[2017-04-11 12:58] ltrilety commented on #104
good news is that after some time systemd itself without user intervention was able to start the service

[2017-04-14 19:39] #47 closed

[2017-04-14 21:12] r0h4n commented on #104
Fixed: tendrl-performance-monitoring service now Requires tendrl-node-agent which in turn requires the etcd.service

This means, etcd (if installed and configured via systemd) will be always running before any of tendrl services

[2017-04-14 21:12] #104 closed

[2017-04-14 21:14] r0h4n commented on #95
Is this still valid?

[2017-04-14 21:14] r0h4n commented on #93
Fixed: https://copr.fedorainfracloud.org/coprs/tendrl/release/

[2017-04-14 21:14] #93 closed

[2017-04-14 21:15] r0h4n commented on #46
Is this fixed?

[2017-04-14 21:16] r0h4n commented on #9
Any ETA on this ?

[2017-04-19 15:10] anmolbabu commented on #96
@dahorak This has been fixed as part of a few fixes in commons.

Please check if this is still relevant

[2017-04-19 18:48] japplewhite opened #118 ""Listen 10080" in /etc/tendrl/performance-monitoring/graphite-web.conf.sample causes apache to fail"
In my vagrant env the listen directive causes apache to fail to start. When I remove that line it starts ok. Is it needed?

[2017-04-20 07:05] dahorak commented on #96
@anmolbabu Yes, it seems to be fixed:
[code]

Tested on:
[code]

[2017-04-22 06:00] anmolbabu commented on #96
@dahorak Could you please close this if its no more relevant

[2017-04-24 06:53] dahorak commented on #96
I've tried it once more time on machines running untouched for about 3 days, and CPU utilization is around 12%, which is still slightly more than I would expect, but it's different than the initially reported issue, so I'm closing this one.

[2017-04-24 06:53] #96 closed

[2017-04-24 09:49] anmolbabu commented on #118
Yes this directive runs graphite-web on 10080. the default port for graphite-web is 80.
But UI also runs on 80 so this directive is needed...

[2017-04-25 06:05] anmolbabu commented on #118
Also, it is possible(and I have faced this sometimes) that since we have no selinux in policies in place currently that the port 10080 is not open and hence apache fails to start. So, can you please try this in selinux permissive, iptables flushed and firewalld.

[2017-04-25 09:49] nthomas-redhat commented on #118
@japplewhite can you try https://github.com/Tendrl/performance-monitoring/issues/118#issuecomment-296921577 and let us know?

[2017-04-25 11:33] TimothyAsir commented on #95
I have verified this. This is bug is fixed and its working now without any issue. We can close this issue.

[2017-04-26 09:30] nthomas-redhat commented on #95
Closing the issue as this is already fixed

[2017-04-26 09:30] #95 closed

[2017-05-03 07:35] anmolbabu opened #139 "Ceph resource monitoring does not work if cluster name is not ceph"

[2017-05-08 17:13] anmolbabu commented on #139
Closing this as this was fixed as part of https://github.com/Tendrl/node-monitoring/pull/19

[2017-05-08 17:13] #139 closed

[2017-05-09 13:30] r0h4n opened #145 "Replace code with broad "try... except Exception""
Places in code where "Exception" is caught is bad, they should be replaced by specific exceptions

[2017-05-29 13:54] r0h4n commented on #118
Any updates?

[2017-05-29 13:54] r0h4n commented on #46
@anmolbabu

[2017-05-29 13:54] r0h4n commented on #9
@anmolbabu

[2017-05-29 15:31] anmolbabu commented on #9
@r0h4n I am currently working on certain issues that are higher on priority than this will work on this once they are done... Regarding ETA I am planning to have this done before End of next week....

[2017-05-29 15:35] anmolbabu commented on #46
@r0h4n Nope this isn't fixed... It is I assume due to the retention policy of graphite.

[2017-05-31 00:48] japplewhite commented on #118
Yes - sorry that selinux issue was the problem. Thanks

[2017-05-31 00:49] #118 closed

[2017-05-31 07:49] anmolbabu opened #170 "Multiple entries of ConfigureCollectd for tendrl_ceph_node_network_throughput are created"
Multiple entries of ConfigureCollectd for tendrl_ceph_node_network_throughput are created which is overloading the job queue

[2017-05-31 09:13] #170 closed

[2017-06-02 17:02] anmolbabu opened #178 "Cluster and System Summary calculations fail for larger clusters"
1. Tendrl pushes every attribute of any Tendrl object(representation of tendrl resources like cluster, volume, pool, etc..) as a nested(based on hierarchy of attribute in the object) keys in etcd
2. Cluster and system summary calculation by performance-monitoring uses a method of recursive read from etcd, on an overarching key '/clusters' in etcd under which all the clusters with their complete de

[2017-06-02 17:06] anmolbabu commented on #178
The recursive function used was:
https://github.com/Tendrl/performance-monitoring/blob/develop/tendrl/performance_monitoring/utils/central_store_util.py#L20

The log is as under:
  File "<stdin>", line 1, in <module>
  File "<stdin>", line 7, in read
  File "<stdin>", line 3, in read
  File "/usr/lib/python2.7/site-packages/python_etcd-0.4.3-py2.7.egg/etcd/client.py", line 536, in read
    timeout

[2017-06-03 13:47] anmolbabu opened #181 "Gluster cluster and system summary api does not provide sds specific details without presence of volume"
Gluster cluster and system summary api does not provide sds specific details without presence of volume

[2017-06-07 13:52] anmolbabu commented on #181
The referenced Pr fixes this issue.Hence closing it

[2017-06-07 13:52] #181 closed

[2017-06-07 13:58] anmolbabu commented on #178
@r0h4n Shall I close this issue or should I keep it open untill we add list read is made available from commons.. I think this is resolved on performance-monitoring side for now...

[2017-06-07 14:14] r0h4n commented on #178
Lets close it once we have object.load_all()

[2017-06-08 11:49] anmolbabu opened #188 "EtcdNotDir: Not a directory Errors while performance-monitoring tries to sync osd, pg and mon counts"
EtcdNotDir: Not a directory Errors while performance-monitoring tries to sync osd, pg and mon counts

ex:
EtcdNotDir: Not a directory : /clusters/717b6b82-b0f7-4595-a190-de4173c32734/maps/osd_map/data
EtcdNotDir: Not a directory : /clusters/717b6b82-b0f7-4595-a190-de4173c32734/maps/pg_summary/data/all
EtcdNotDir: Not a directory : /clusters/717b6b82-b0f7-4595-a190-de4173c32734/maps/mon_status/data

[2017-06-08 12:52] #188 closed

[2017-06-08 14:42] anmolbabu opened #191 "EtcdNotDir: Not a directory Errors while performance-monitoring tries to sync osd, pg and mon counts #188"
EtcdNotDir: Not a directory Errors while performance-monitoring tries while creating cluster and public n/w configuration

ex:
EtcdNotDir: Not a directory : /clusters/717b6b82-b0f7-4595-a190-de4173c32734/maps/config/data/cluster_network

[2017-06-08 14:50] #191 closed

[2017-06-12 10:42] anmolbabu opened #196 "Expose the threshold values via summary apis"
Expose the threshold values via summary apis

This is for consumption by tendrl/dashboard to color code the utilizations..

[2017-06-12 12:31] sankarshanmukhopadhyay opened #198 "iostat metrics for presenting via the UI when using host-level drill down"
Using a drill down at the host level should enable exposing iostat metrics (via collectd?) to be displayed on the dashboard.

[2017-06-12 12:32] brainfunked commented on #198
https://github.com/deniszh/collectd-iostat-python should be useful.

[2017-06-13 16:53] mbukatov commented on #9
@r0h4n @anmolbabu Is this one considered done or should we keep it open? Do you request additional qe validation for this issue?

[2017-06-13 16:54] anmolbabu commented on #9
@mbukatov This is not yet done...

[2017-06-13 20:55] r0h4n opened #199 "Ensure usage of tendrl_context.integration_id is not called cluster_id anywhere"
If `tendrl_context.integration_id` is assumed and used as `cluster_id` , please correct the "cluster_id" term to "integration_id"  since cluster_id is the sds generated (eg: fsid) id

[2017-06-14 10:15] shtripat opened #200 "The service tendrl-performance-monitoring should start automatically on reboot of node"

[2017-06-14 11:36] anmolbabu commented on #198
[root@performance-monitoring-node ~]# tree /var/lib/carbon/whisper/collectd/underscored_node_name/
/var/lib/carbon/whisper/collectd/underscored_node_name/
├── aggregation-memory-sum
│   └── memory.wsp
├── aggregation-swap-sum
│   └── swap.wsp
├── cpu
│   ├── cpu_system_user
│   │   └── percent-used.wsp
│   ├── percent-idle.wsp
│   ├── percent-interrupt.wsp
│   ├── percent-nice.wsp
│   ├── percent-

[2017-06-14 11:38] anmolbabu commented on #198
So from comment above we can see that currently, at disk level, we have iops counter per second, io time, number of io octets(bytes) per second(read and write speeds) already monitored

[2017-06-14 11:44] anmolbabu commented on #198
[root@graphite_server ~]# tree /var/lib/carbon/whisper/collectd/cluster_eb826782-7458-4715-8bc7-c667ec8d6fa5/
/var/lib/carbon/whisper/collectd/cluster_eb826782-7458-4715-8bc7-c667ec8d6fa5/
├── brick_utilization-volume_vol1|host_gluster_node1|brick__home_gluster_node1_vol1_b1
│   ├── gauge-total.wsp
│   ├── gauge-used.wsp
│   └── percent-percent_bytes.wsp
├── brick_utilization-volume_vol1|host_glus

[2017-06-14 11:56] anmolbabu commented on #198
[root@graphite-server ~]# tree /var/lib/carbon/whisper/collectd/cluster_f3778f9f-992c-466e-a94b-074ac95227b4/
/var/lib/carbon/whisper/collectd/cluster_f3778f9f-992c-466e-a94b-074ac95227b4/
├── cluster_iops_read
│   └── gauge-total.wsp
├── cluster_iops_read_write
│   └── gauge-total.wsp
├── cluster_iops_write
│   └── gauge-total.wsp
├── cluster_utilization
│   ├── gauge-total.wsp
│   ├── gauge-used

[2017-06-14 11:59] sankarshanmukhopadhyay commented on #198
@japplewhite - the above is a handy reference to the data points which we gather. Thanks @anmolbabu

[2017-06-14 17:31] anmolbabu opened #202 "Collectd configurations are re-generated across performance-monitoring restarts"
The nodes on which configurations are made are stored in-memory to avoid regeneration of configurations during the next scan through the list of clusters and nodes. But the problem with this approach is that if performance-monitoring is restarted for any reason such as node goes
down and hence performance-monitoring was started back once the node is back up,
or for any other reason, the configurat

[2017-06-16 06:03] anmolbabu commented on #200
@shtripat Can you please close this issue as the PR for the same has been merged...

[2017-06-16 06:30] shtripat commented on #200
PR merged

[2017-06-16 06:30] #200 closed

[2017-06-18 10:36] r0h4n opened #208 "Multiple calls to objects.Definition.get_parsed_defs()"
Similar to : Tendrl/commons#586

[2017-06-18 10:38] #208 closed

[2017-06-22 21:17] japplewhite opened #213 "collectd unable to connect to localhost:2003"
It looks like the default config doesn't work. Is this error valid?

Jun 22 21:05:45 stg01 collectd: write_graphite plugin: Connecting to localhost.localdomain:2003 via tcp failed. The last error was: failed to connect to remote host: Connection refused

[2017-06-23 03:13] anmolbabu commented on #213
@japplewhite I would like to know the following:

1. Does localhost.localdomain actually resolve to the graphite server from the node where you see this
    error....
    Is graphite server local to the node on which you see this error?
2. Is the firewall disabled with selinux in permissive mode??
3. Which branch are the rpms from... I assume the rpms you are using are from release 1.4.2.https://g

[2017-06-23 19:56] japplewhite commented on #213
@anmolbabu No - in this case the storage node was named tendrl and was at another IP that is not in the hosts file or dns for the stg01 host where this log appeared. I think relying on naming rather than IP addresses or explicit variables for this that come from tendrl-ansible is asking for problems. Many admins never set naming up.

[2017-06-24 03:29] anmolbabu commented on #213
@japplewhite The problem is the node might have multiple ip addresses(multiple n/w interface nodes) so how do we figure out on which ip, the graphite server will be accessible...so to avoid this we have a performance-monitoring.conf file entry where we specifically take the ip/hostname(anything can be passed) of the graphite server and we use it to configure collectd.. The PR with this change is m

[2017-06-24 06:18] anmolbabu commented on #202
Closing this as the PR to fix this has been merged..

[2017-06-24 06:18] #202 closed

[2017-06-26 14:14] japplewhite commented on #213
@anmolbabu This is essentially the conclusion I came to as well. I think the best method is to set this via variables that are explicitly defined in tendrl-ansible/site.yml otherwise we are guessing at the correct implementation.

[2017-06-26 14:14] japplewhite commented on #213
@mbukatov - looks like this should be included in the playbook

[2017-06-26 14:24] mbukatov commented on #213
We need to update [documentation](https://github.com/Tendrl/documentation/wiki/Tendrl-Package-Installation-Reference) first, it would help me to understand where the problem actually is. Btw is this related to the question raised here https://www.redhat.com/archives/tendrl-devel/2017-June/msg00106.html (I'm asking about ip address of carbon among other things)?

[2017-06-29 06:52] r0h4n commented on #199
@anmolbabu when will this be done?

[2017-06-29 06:52] #145 closed

[2017-06-29 07:26] anmolbabu commented on #199
PR posted but warrants change in UI
cc @cloudbehl @gnehapk

[2017-07-04 05:18] r0h4n opened #218 "Fix PEP8 violations"
Fix all PEP8 violations

check cmd : "tox -epep8"

[2017-07-04 05:39] anmolbabu commented on #213
@mbukatov Yes this is the graphite ip...
I think nothing new needs to be done here, there was a bug that although this field existed it was not used internally which has now been fixed . So, I think this can be closed...

Please reopen this if found relevant to master again...

[2017-07-04 06:47] anmolbabu opened #220 "Error Tracebacks from performance-monitoring"
1.

Jul  4 08:52:38 dhcpxx-xxx tendrl-performance-monitoring: Traceback (most recent call last):
Jul  4 08:52:38 dhcpxx-xxx tendrl-performance-monitoring: File "/usr/lib64/python2.7/site-packages/gevent/greenlet.py", line 327, in run
Jul  4 08:52:38 dhcpxx-xxx tendrl-performance-monitoring: result = self._run(*self.args, **self.kwargs)
Jul  4 08:52:38 dhcpxx-xxx tendrl-performance-monitoring: File

[2017-07-18 11:04] #220 closed

[2017-07-18 11:04] #213 closed

[2017-07-18 11:05] r0h4n commented on #199
@cloudbehl @a2batic @gnehapk Please ensure latest builds of perf-mon/node-mon/alerting work with the UI

[2017-07-18 11:05] #199 closed

[2017-07-18 11:06] anmolbabu commented on #196
Closed no more relevant

[2017-07-18 11:06] #196 closed

[2017-07-18 11:06] r0h4n commented on #198
Seems like we have the issue resolved? @sankarshanmukhopadhyay

[2017-07-18 11:07] r0h4n commented on #178
https://github.com/Tendrl/commons/blob/develop/tendrl/commons/objects/__init__.py#L166

[2017-07-18 11:07] #178 closed

[2017-07-18 11:07] anmolbabu commented on #178
Closing no more relevant to performance-monitoring as these will now move to grafana

[2017-07-18 11:08] r0h4n commented on #9
In light of recent additions like Grafana, we would need to close this issue and re-think the way perf-mon/node-mon would exist as a service

[2017-07-18 11:08] #9 closed

[2017-07-18 11:08] r0h4n commented on #46
@anmolbabu whats the ETA on this one

[2017-07-18 11:09] r0h4n commented on #218
@anmolbabu ETA on this one?

[2017-08-08 06:03] anmolbabu commented on #218
We have moved to monitoring-integration..
Can we close this?
Cc @r0h4n